services:
  db:
    image: mariadb:latest
    container_name: mariadb_portfolio
    env_file: .env
    environment:
      MARIADB_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MYSQL_DATABASE}
      MARIADB_USER: ${MYSQL_USER}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./frontend/db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    depends_on:
      - db
    env_file: .env
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_PORT: ${PMA_PORT}
    ports:
      - "8080:80"
    networks:
      - app-network

  web:
    build: ./frontend
    container_name: nextjs-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      SMTP_SERVER_USERNAME: ${SMTP_SERVER_USERNAME}
      SMTP_SERVER_PASSWORD: ${SMTP_SERVER_PASSWORD}
      SMTP_SERVER_HOST: ${SMTP_SERVER_HOST}
      SITE_MAIL_RECIEVER: ${SITE_MAIL_RECIEVER}
    networks:
      - app-network
    restart: unless-stopped

  php:
    build: ./backend
    container_name: php
    ports:
      - "80:80"
    volumes:
      - ./backend:/var/www/html
      - ./phpApacheConfig:/etc/apache2/sites-available
    links:
      - db
    networks:
      - app-network  
    
networks:
  app-network:
    driver: bridge
